/*==================Footer=========================*/
footer {
    background: var(--oscuro);
    min-height: 39px;
    position: fixed !important;
    bottom: 0;
    p {
        color: var(--blanco);
        text-align: center;
      }
      #iconFooter i {
        font-size: 26px;
        padding-top: 5px;
        color: var(--blanco);
      }
  }
  
  