// Tipografia
$fuente_principal: 'Montserrat', sans-serif;
$fontw: 700;
// Colores 
$blanco: #ffffff;
$oscuro: #212121;
$primario: #ffc107;
$secundario: #0097a7;
$gris: #757575;
$gris-claro: #dfe9f3;
$naranja: #E59533;
// Tamaño de pantallas
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXl: 1200px;