// Tipografia
$fuente_principal: "Montserrat", sans-serif;

// Colores
$colores: (
  gris-claro1: #f9fbfd,
  azul: #3f33ff,
  oscuro: #212121,
  primario: #ffc107,
  secundario: #0097a7,
  gris: #757575,
  naranja: #e59533,
  gris-claro: #dfe9f3,
  blanco: #ffffff,
  celeste-claro: #85c1e9,
);

// Tamaño de pantallas
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXl: 1200px;
//Maps

$redes: (
  fcTwIns: #ffffff,
);

$fontW: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
);
$sizes: (
  320: 320px,
  400: 400px,
  450: 450px,
  500: 500px,
  2: 2rem,
  15: 15px,
  18: 18px,
  20: 20px,
  25: 25px,
  30: 30px,
  5: 5px
);
$anchoAlt: (
  todo: 100%,
  15: 15rem,
  ancho: 600px,
  centro: center,
  90xc: 90%,
  80xc: 80%
);
