*{
    margin: 0;
    padding: 0;
}
p {
    color: blue;
    font-size: 2rem;
    background-color: burlywood;
}
div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.texto {
    color: red;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 5rem;
    background-color: aquamarine;
}