// Tipografia
$fuente_principal: 'Montserrat', sans-serif;
// Estilos a
$estilo-a: none;
// Colores 
$blanco: #ffffff;
$oscuro: #212121;
$secundario: #ffc107;
$primario: #0097a7;
$gris: #757575;
$gris-claro: #dfe9f3;




