@use 'base/variables' as v;
@use 'base/mixins' as m;

/*Header y menu*/
.bg-header {
  @include m.heading;
}
 
#menu a {
  color: v.$blanco;
  font-size: 18px !important;
  font-weight: 600;
  margin: 0 0.5rem;
  button {
    font-size: 18px !important;
    font-weight: 600;
    margin: 0 0.5rem;
  }
  &:hover {
    background-color: v.$primario;
    color: v.$oscuro;
    justify-items: center;
    border-radius: 5px;
  }
}
 
