@import "../variables/variables";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  //height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: $fuente_principal;
  font-size: 1.6rem;
  font-size: 16px;
  background-image: linear-gradient(
    to top,
    map-get($colores, celeste-claro) 10%,
    map-get($colores, secundario) 40%,
    map-get($colores, azul) 100%
  );
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
p {
  font-size: 2rem;
  columns: map-get($colores, oscuro);
}
a {
  text-decoration: none;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
h1,
h2,
h3 {
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
//=======================Boton==========/
.boton {
  background-color: map-get($colores, secundario);
  color: map-get($colores, blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; /**=700**/
  border-radius: 0.5rem;
  // width: 90%;
  text-align: center;
  border: none;
}
.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(43, 42, 43, 0.42);
  -moz-box-shadow: 0px 5px 15px 0px rgba(43, 42, 43, 0.42);
  box-shadow: 0px 5px 15px 0px rgba(43, 42, 43, 0.42);
  background-color: map-get($colores, blanco);
  padding: 2rem;
  background-origin: 1rem;
}
.boton:hover {
  cursor: pointer;
}
.alinear-derecha {
  justify-content: flex-end;
}

.flex {
  display: flex;
}
.w-sm-100 {
  width: 100%;
}
