@import '../variables/variables';

/*Header y menu*/
.bg-header1{
  background-color: map-get($colores, oscuro);
  .ancl {
    text-decoration: none;
    color: map-get($colores, blanco) !important;
  }
}
.tex-header {
  color: map-get($colores, blanco) !important;
}
.bg-header {
   background-color: map-get($colores, secundario); 
} 
#menu a {
  color: map-get($colores, blanco);
  font-size: 18px !important;
  font-weight: 600;
  margin: 0 0.5rem;
  button {
    font-size: 18px !important;
    font-weight: 600;
    margin: 0 0.5rem;
  }
  &:hover {
    background-color: map-get($colores, primario);
    color: map-get($colores, oscuro);
    justify-items: center;
    border-radius: map-get($sizes, 5);
  }
}
 
