@import "../variables/variables";

/*contenido hero*/
.hero {
  background-image: url(../../img/fondo.png);
  background-repeat: no-repeat; /*Para que la imagen no se repita cuando se achica*/
  background-size: cover; /**Para que ocupe todo el espacio la imagen**/
  height: map-get($sizes, 450);
  /**padding: 20px;**/
  position: relative; /*El padre tiene posicion relative (.hero)*/
  margin-bottom: map-get($sizes, 2);
}
.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  @include flex-dir-colum-alin-jcont-center;
}

.contenido-hero h2,
.contenido-hero p {
  color: $blanco !important;
  font-weight: map-get($fontW, bold);
}

.contenido-hero .ubicacion {
  @include flex-al-itm-end;
}
