@import "../variables/variables";
/*================================Mapa*/
.mapa {
  width: map-get($anchoAlt, todo);
  height: 500px;
}
.wrapper {
  @include flex-dir-colum-alin-jcont-center;
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}
#local {
  background: #f3f3f3;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.ifrm {
  height: 500px;
  width: 100%;
}
