@import "../variables/variables";
/*contenido servicios*/
.sombra {
  @extend .sombra;
  .servicio {
    @include flex-dir-colum-alin-center;
    .interL {
      line-height: 3rem;
      word-spacing: 0.5rem;
      font-size: 1.7rem !important;
      font-weight: bold;
    }
    .interL2 {
      @extend .interL;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
  .servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: map-get($colores, primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /**display: flex; - justify-content: center; - aling-items: center; CENTRAN UN OBJETO*/
  }
}

.contPrin {
  margin-top: 3rem;
  border-radius: 0.5rem;
  padding-bottom: 10rem;
  margin-bottom: 30rem;
}
/*==============Galeria=====================*/
.carousel-inner {
  max-height: 60rem !important;
}

.servi {
  padding-top: 10px;
}

/*Clientes*/
.clientes {
  color: map-get($colores, secundario);
  @include pt-3-pb-3-rem;
  font-size: 4rem;
}
.texClie {
  margin-bottom: 10rem;
  color: map-get($colores, azul);
  font-size: map-get($sizes, 30);
}
.img-card {
  width: map-get($anchoAlt, todo);
  height: 210px;
}
.contenido {
  padding: map-get($sizes, 15);
  text-align: map-get($anchoAlt, centro);
  p {
    color: map-get($colores, oscuro);
    font-size: map-get($sizes, 20);
  }
}
.cards {
  @include flex-dir-colum-alin-jcont-center;
  @extend .img-card;
  padding-top: 2rem;
  height: 380px;
  padding: map-get($sizes, 15);
  text-align: map-get($colores, centro);
  margin: 20px;
  border-radius: 6px;
  overflow: hidden; /*oculta lo que sobrepasa de la caja*/
  background: map-get($colores, gris-claro1);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
}
